language: ruby
rvm:
- 2.5.0
sudo: false
before_install:
- gem install bundler -v 1.16.1
before_script:
- bundle install
script:
- env
- bundle exec rake spec build
- find .
deploy:
  provider: rubygems
  skip_cleanup: true
  api_key:
    secure: ASJyDyynS5sc4I4dBQx3LrnYxl5331KAB0C0k/BzAfYsBiORpKdMRj1nPEvaTu1LNmIN1smJswdnwxIDd0r8Cdl2TFHu9oTlxF6wYi7r3Ix2Btmy1xAVMwfEmocQI9JIUvzLY6Dah/MOQG/A61XKpL6JBixz43sQW64fpN7y8wZMjbjm9/U3XhcL5zPDHjRebpgWYzBptuVCdCbvfnTETsYd4k/H5v9Ax6pCWkkK9Y2U9csWd7wcVl6Ja6qFM69wSgc0GmVzP/heqE4rG+fvauaHrtEp0qTvMkVgOTxOG3wa7MH3f4qmx+oRU8tV6JnjfuDt9Um0gzcQvAhmCvKl0Co4lkvdp3VpvWIedS0Z+aiw+FG+3n2xUxr4hKIHTTtQVMglXkKL5BBpKfPCkssmXnhZojBtfDUxdOaAXJuxqgKBdLOiDyf5kkxcp5iA3yAGDbW0WY95HpqXC0n3/8kM6QEYbjsnUeazn/XZD7HlzahZc72C3Ro+o5P8HybrHyuZCncmsikTyF91DJRdN3WxnNUj95UW80gw0xqbtvhWCHPQGFvvejhwGPGHe/cBP8imEBBrqnInM/TgCCMJyjyH2J448wJIL5Dx9Z4WArsKmBHOQLua3QCqpkd770+W1VP0Bd94aklQcBrh0nG2ltZEAhKGszcZnxz1CiVnQrdSj1c=
  on:
    tags: true
